/* ========================= MIXINS ========================== */
@-webkit-keyframes fade-in {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}
@font-face {
  font-family: 'font-break';
  src: url("BreakRegular.ttf");
  /*URL to font*/
}
#beFrank {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
body {
  margin: 0;
}
.titleindex {
  font-size: 30px;
  font-family: font-break;
}
.box {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-width: 350px;
  max-width: 500px;
  height: 60%;
}
.box .container {
  display: table-cell;
  padding: 1em;
  padding-left: 0.5em;
}
.box .container:nth-child(1) {
  padding: 1em;
  padding-right: 0.5em;
}
.box .content {
  border: 1px solid darkgrey;
  background: grey;
  padding: 10px;
  cursor: pointer;
  height: 100%;
}
.box .info {
  margin-bottom: 1em;
}
.box a {
  color: white;
  text-decoration: none;
}
.typeImg {
  max-width: 200px;
  width: 50%;
  padding-bottom: 1em;
}
.typeText {
  width: 90%;
  padding: 1em;
  max-width: 300px;
  font-size: 18px;
}
.typeBox {
  width: 70%;
  max-width: 250px;
}
.type {
  font-size: 18px;
  padding: 0.25em;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.type .colorbox {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 20%;
  border: 1px solid grey;
}
.type .colorbox.E {
  background-color: #F6E835;
}
.type .colorbox.I {
  background-color: #75C3CF;
}
.type .colorbox.S {
  background-color: #E75C3E;
}
.type .colorbox.N {
  background-color: #884E8E;
}
.type .colorbox.T {
  background-color: #36433B;
}
.type .colorbox.F {
  background-color: #DA1B7B;
}
.type .colorbox.J {
  background-color: #383180;
}
.type .colorbox.P {
  background-color: #5AA82B;
}
.footer {
  max-width: 400px;
  width: 100%;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.footer a {
  padding: 1em;
}
.header {
  max-width: 400px;
  width: 100%;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.header a {
  padding: 1em;
  color: white;
  text-decoration: none;
  text-align: center;
}
.header .backbttn {
  display: block;
}
.backbttn {
  width: 40px;
}
.circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 50%;
}
.cirbar {
  width: 100%;
  max-width: 400px;
  display: flex;
  -webkit-justify-content: space-evenly;
  -ms-justify-content: space-evenly;
  justify-content: space-evenly;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
/*# sourceMappingURL=/assets/be-frank.css.map */